@use 'base/variables' as v;
@use 'base/mixins' as m;

html{
    font-size: 62.5%;
    box-sizing: border-box;
}
*,
*:before,
*:after{
    box-sizing: inherit;
}
body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    @include m.mobile{
        flex-direction: row;   
    }
    min-height: 100vh;
    font-family: v.$kumbh;
    background: linear-gradient(to bottom ,v.$softViolet, v.$softBlue);
    background-repeat: no-repeat;
    background-size: cover;
        
    main{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        @include m.mobile{
            display: grid;
            grid-template-columns: repeat(2, 1fr);
        }
    }
}
.contenedor{
    width: 90%;
    margin: 0 auto;
    max-width: 37.5rem;
    @include m.mobile{
        width: 100%;
        max-width: 80rem;
    }
    padding: 13.4rem 2rem 4rem 2rem;
    background-color: #fff;
    border-radius: 3rem;
    position: absolute;

    background-image: url('../../images/bg-pattern-mobile.svg');
    background-position: center .8rem;
    background-size: 24rem;
    background-repeat: no-repeat;
    @include m.mobile{
        padding: 8rem;
        background-image: url('../../images/bg-pattern-desktop.svg');
        background-position: -6.5rem 5rem;
        background-size: 40rem;
        background-repeat: no-repeat;

    }
}
h1,h2,h3,p{
    margin: 0;
}
.title{
    font-size: 3.8rem;
    text-align: center;
    font-weight: 700;
    margin-top: 0;
    @include m.mobile{
        text-align: left;
    }
}
p{
    font-size: 1.5rem;
}
a{
    text-decoration: none;
}
