// Colores
    $blueText : hsl(238, 29%, 16%);
    $redText : hsl(14, 88%, 65%);
    $grayText : hsl(237, 12%, 33%);
    $lightGrayText : hsl(240, 6%, 50%);

    $softViolet : hsl(273, 75%, 66%);
    $softBlue : hsl(240, 73%, 65%);

    $dividerBlue : hsl(240, 5%, 91%);
// Fuentes
    $kumbh : 'Kumbh Sans', sans-serif;